.navbar {
    background-color: #FFFF99;
}

.navbar-brand {
    padding-left: 60px;
}

.navbar-nav {
    margin-left: 940px;
}

.baris1 {
    background-color: #CD5C5C;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 70px;
}

.baris1 p {
    text-align: justify;
    padding-right: 65px;
}

.kotak-atas {
    background-color: #CCFF33;
    height: 200px;
    width: 560px;
}

.baris2 {
    margin-top: 60px;
    padding-left: 70px;
}

.kotak1 {
    background-color: #CD5C5C;
    height: 200px;
    width: 560px;
}
.kotak2 {
    background-color: #CC3333;
    height: 200px;
    width: 560px;
}

.baris3 {
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 45px;
    padding-bottom: 50 px;
}

.kotak3 {
    height: 200px;
    width: 340px;
}

.kotak4 {
    height: 200px;
    width: 340px;
}

.kotak5 {
    height: 200px;
    width: 340px;
}

.footer {
    background-color: #00FF00;
    text-align: center; 
    width: 100%;
}